ConsumindoWebServiceCalculadora/ConsumindoWebServiceCalculadora/Service References/ConsomeServicoCalculadora/Calculadora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Hello">
        <s:complexType />
      </s:element>
      <s:element name="HelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Chamar">
        <s:complexType />
      </s:element>
      <s:element name="ChamarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChamarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizaCalculo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Operacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValorUm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValorDois" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizaCalculoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizaCalculoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloSoapIn">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="HelloSoapOut">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="ChamarSoapIn">
    <wsdl:part name="parameters" element="tns:Chamar" />
  </wsdl:message>
  <wsdl:message name="ChamarSoapOut">
    <wsdl:part name="parameters" element="tns:ChamarResponse" />
  </wsdl:message>
  <wsdl:message name="RealizaCalculoSoapIn">
    <wsdl:part name="parameters" element="tns:RealizaCalculo" />
  </wsdl:message>
  <wsdl:message name="RealizaCalculoSoapOut">
    <wsdl:part name="parameters" element="tns:RealizaCalculoResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculadoraSoap">
    <wsdl:operation name="Hello">
      <wsdl:input message="tns:HelloSoapIn" />
      <wsdl:output message="tns:HelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Chamar">
      <wsdl:input message="tns:ChamarSoapIn" />
      <wsdl:output message="tns:ChamarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizaCalculo">
      <wsdl:input message="tns:RealizaCalculoSoapIn" />
      <wsdl:output message="tns:RealizaCalculoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculadoraSoap" type="tns:CalculadoraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chamar">
      <soap:operation soapAction="http://tempuri.org/Chamar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizaCalculo">
      <soap:operation soapAction="http://tempuri.org/RealizaCalculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculadoraSoap12" type="tns:CalculadoraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://tempuri.org/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chamar">
      <soap12:operation soapAction="http://tempuri.org/Chamar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizaCalculo">
      <soap12:operation soapAction="http://tempuri.org/RealizaCalculo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculadora">
    <wsdl:port name="CalculadoraSoap" binding="tns:CalculadoraSoap">
      <soap:address location="http://localhost:51850/Calculadora.asmx" />
    </wsdl:port>
    <wsdl:port name="CalculadoraSoap12" binding="tns:CalculadoraSoap12">
      <soap12:address location="http://localhost:51850/Calculadora.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>